<fieldset>
<%= form_for([:product, @purchase]) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>You're about to buy <i>"<%= @product.title %>"</i> for <b>$<%= @product.price %></b></p>
  </div>
  <hr/>
  <h2>Payment Info</h2>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "" %>
  </div>
<% end %>
</fieldset>
