<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Urls:</strong>
  <% @product.urls.each do |url| %>
    <li><a href="<%= url %>" target="_blank"><%= url %></a></li>
  <% end %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Email:</strong>
  <%= @product.email %>
</p>

<p>
  <strong>Purchase Button:</strong>
  <%= link_to '-= Buy Now =-', new_product_purchase_path(@product) %> (add to your site or email to the client)
</p>

<p>
<strong>Purchases:</strong>
  You have <%= @product.purchases.count %> product(s) sold.
  <%= link_to 'Show', product_purchases_path(@product) %>
</p>

<p>
  <strong>Secret URL:</strong>
  <%= link_to '-= Secret URL =-', "#{product_path(@product)}/?auth_token=#{@product.auth_token}" %> (keep it safe!)
</p>

<%= link_to 'Edit', edit_product_path(@product) %>
